:root {
  --ff-primary: Inter, system-ui, sans-serif;
  --ff-accent: Space Mono, monospace;
  --ff-secondary: "Franklin Gothic Medium", sans-serif;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-weight: 500;
  position: relative;
}
.dark {
  --clr-primary-100: #ffffffde;
  --clr-primary-900: #1a1a20;
  --clr-secondary-300: #989797;
  --clr-secondary-700: #383534;
  --clr-secondary-800: #383534;
  --clr-newsletter: #787878;
  --clr-footer: #5b5b5b;
  --clr-footback: #0f0f13;
  --clr-accent-400: #7913a8;
  --clr-submit: #82139880;
  --clr-invert: linear-gradient(135deg, #464650, #27212b);
  --clr-inset: #4f4948;
  --clr-button: #25252d;
  --clr-vinyl: linear-gradient(135deg, #c4c4c4, #787878);
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);
}
.light {
  --clr-primary-100: #0f0000de;
  --clr-primary-900: linear-gradient(135deg, #a8acff, #a5bdfd);
  --clr-secondary-300: #260606;
  --clr-secondary-800: #ac00dc;
  --clr-secondary-700: #1a0000;
  --clr-newsletter: #786980;
  --clr-footer: #726677;
  --clr-footback: #1c1320;
  --clr-accent-400: #6d000f;
  --clr-invert: linear-gradient(135deg, #a5bdfd, #b076da);
  --clr-inset: #aa8ee1;
  --clr-submit: #82139880;
  --clr-vinyl: linear-gradient(135deg, #e0cbdc, #886d84);
  --clr-button: #d5d5f3;
  background: var(--clr-primary-900);
  color: var(--clr-primary-100);
}

.header {
  text-align: center;
  position: relative;
  margin-bottom: 7vh;
  background-color: var(--clr-primary-900);
}

.background {
  background-position-x: center;
  background-size: cover;
  background-image: url("/main.png");
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0));
  height: 65vh;
  @media (min-width: 600px) {
    background-position-y: center;
  }
}


.theme {
  color: #ffffffde;
  mix-blend-mode: difference;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.switch {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 170px;
  z-index: 5;
}

h1 {
  margin-top: -15px;
  margin-bottom: 2vh;
  font-size: clamp(2rem, 10vw, 3.2rem);
  font-weight: 500;
  letter-spacing: clamp(0.1em, 2vw, 0.4em);
  font-family: var(--ff-accent);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.tag-line {
  margin-inline: 25px;
  margin-bottom: 5vh;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5em;
  color: var(--clr-secondary-300);
}

a {
  text-decoration: none;
  margin-inline: min(1rem, 2.5vw);
  color: var(--clr-primary-100);
}

.active {
  border-bottom: 1px solid;
  padding-bottom: 3px;
  font-size: min(1.2rem, 4vw);
  color: var(--clr-primary-100);
}

.inactive {
  color: var(--clr-secondary-300);
}

nav {
  margin-top: -2.3rem;
  position: sticky;
  background: transparent;
  top: 0px;
  bottom: auto;
  z-index: 4;
}

.stuck {
  background: var(--clr-primary-900);
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.navbar {
  list-style-type: none;
  padding-block: 1rem;
  padding-inline: 0;
  justify-content: space-evenly;
  margin: auto;
}

.navbar > li {
  display: inline;
  margin-inline: clamp(0.3rem, 1vw, 1.5rem);
  font-size: min(1.1rem, 4vw);
  font-weight: 500;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  font-family: var(--ff-accent);
  color: var(--clr-secondary-300);
}

.cart-icon {
  font-size: 1.2rem;
  padding: 0.2rem;
  margin-inline: 0.1rem;
}

nav {
  display: flex;
  justify-content: center;
}

.icons {
  font-size: 1.4rem;
}

h3 {
  font-weight: 400;
  margin-left: clamp(35px, 4.5vw, 75px);
  letter-spacing: 0.1rem;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.container {
  display: inline-flex;
  width: calc(100% - 20px);
  margin: 0 auto 35px;
  @media (min-width: 900px) {
    width: calc(100% - 80px);
  }
}

.button {
  background-color: transparent;
  border: none;
  color: var(--clr-secondary-300);
  font-size: 2rem;
  margin-inline: -10px;
  width: 40px;
}

.scroller {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-padding-inline: min(1.5rem, 4vw);
  padding-bottom: 15px;
  mask: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 3%,
    white 97%,
    transparent
  );
}

.scroller::-webkit-scrollbar {
  display: none;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.wrapper {
  display: flex;
  justify-content: center;
}

section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-900);
}

.video-section {
  margin-top: none;
}

.card {
  background-color: var(--clr-secondary-800);
  border-radius: 12px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  display: flex;
  width: clamp(260px, 30vw, 380px);
  height: clamp(100px, 10vw, 120px);
}

.card img {
  max-width: 100%;
  display: block;
  border-radius: 12px 0px 0px 12px;
}

.contents {
  text-transform: uppercase;
  margin-left: 13px;
  text-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h5 {
  letter-spacing: 0.3em;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-family: var(--ff-secondary);
  margin: 0;
}

.tag {
  letter-spacing: 2px;
  color: var(--clr-secondary-300);
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.videos {
  justify-content: center;
}

.video {
  width: clamp(270px, 40vw, 400px);
  border-radius: 12px;
  aspect-ratio: 16/ 9;
  margin-inline: min(1.5rem, 3vw);
  border: 0px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

footer {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-100);
  background-color: var(--clr-footback);
  margin-top: 2rem;
  @media (max-width: 810px) {
    flex-direction: column;
  }
}

.submit {
  padding-block: 0.3rem;
  padding-inline: 1rem;
  font-family: var(--ff-secondary);
  color: #c00dc0ce;
  border-radius: 0 8px 8px 0;
  font-size: 1rem;
  border: 1px var(--clr-submit) solid;
  background-color: var(--clr-submit);
  border-left: none;
  @media (max-width: 550px) {
    border-radius: 8px;
    border: 1px var(--clr-submit) solid;
  }
}
.submit:hover {
  cursor: pointer;
  color: var(--clr-accent-400);
}

.newsletter {
  padding-inline: 2rem;
  font-family: var(--ff-secondary);
  color: var(--clr-newsletter);
  border-radius: 8px;
  font-size: 1rem;
  @media (max-width: 810px) {
    display: flex;
    padding-inline: 0.5rem;
    justify-content: center;
  }
}

.label {
  @media (max-width: 810px) {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  @media (max-width: 550px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.copy {
  font-family: var(--ff-secondary);
  color: var(--clr-footer);
  margin-inline: 2rem;
  font-size: 1rem;
  @media (max-width: 810px) {
    margin-bottom: 1rem;
  }
}

.input {
  margin-left: 1rem;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  width: 180px;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  color: var(--clr-footer);
  background: none;
  border: 1px var(--clr-submit) solid;
  border-radius: 8px 0px 0 8px;
  border-right: none;
  @media (max-width: 550px) {
    border-radius: 8px;
    border: 1px var(--clr-submit) solid;
  }
}

.input::placeholder {
  font-family: var(--ff-secondary);
  font-size: 1rem;
  color: var(--clr-footer);
  font-weight: 300;
}

.about {
  font-size: clamp(1.1rem, 2.5vw, 1.3rem);
  color: var(--clr-primary-100);
  max-width: 45rem;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.about > p {
  margin-inline: clamp(30px, 4vw, 60px);
  text-align: justify;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  @media (max-width: 400px) {
    text-align: start;
  }
}

.about > p::first-letter {
  font-size: 1.5rem;
  font-family: var(--clr-accent-400);
}

a:hover,
.highlight:hover {
  color: var(--clr-accent-400);
  transition: 0.2s;
}

.loader {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.spinner {
  margin-block: auto;
}

table {
  width: clamp(22rem, 80vw, 45rem);
  margin-inline: auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: min(1rem, 3vw);
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  background: var(--clr-invert);
  border-radius: 12px;
}

th {
  border-right: 2px inset var(--clr-inset);
  border-bottom: 2px inset var(--clr-inset);
  padding: 0.7rem 0;
  font-size: min(1.1rem, 4vw);
  letter-spacing: 2px;
  font-weight: 600;
}

th:last-child {
  border-right: none;
}

td {
  border-right: 2px inset var(--clr-inset);
  border-bottom: 2px inset var(--clr-inset);
  padding: 0.7rem;
}

tbody {
  text-align: center;
}

td:last-child {
  border-right: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 3rem;
}

tr:last-child > td {
  border-bottom: none;
}

.break {
  width: 80%;
  border: none;
  height: 1px;
  border-top: solid 1px var(--clr-footer);
}

#vinyls {
  width: calc(100%-2rem);
  max-width: 65rem;
  list-style: none;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.holder {
  margin-inline: auto;
}

.vinyl {
  background-color: var(--clr-secondary-800);
  border: solid 1px black;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 20rem;
  display: flex;
  width: 100%;
  text-align: center;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.vinyl article {
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.record {
  width: 80%;
  object-fit: cover;
  box-shadow: 6px 8px 8px hsla(0, 0%, 0%, 0.592);
}

.vinyl-bg {
  padding: 1rem;
  padding-bottom: 2rem;
  background: var(--clr-vinyl);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)) 92%,
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 92%,
    rgba(0, 0, 0, 0)
  );
}

.vinyl h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-wrap: wrap;
  margin: 0;
}

.vinyl-description {
  margin: 1rem;
}

.error {
  max-width: 30rem;
  margin: auto;
  padding: 0.3rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  background-color: #f4c7c7;
  color: #3e0505;
}

.vinyl-price {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.vinyl-actions {
  margin-bottom: 1.5rem;
}

.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: var(--clr-primary-100);
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: var(--clr-accent-400);
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: bold;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.cart-item p {
  margin: 0;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background: var(--clr-footback);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  position: sticky;
  margin-top: -40px;
  top: 15px;
  left: 82%;
  z-index: 6;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  @media (max-width: 700px) {
    position: static;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: -1rem;
  }
  @media (min-width: 1300px) {
    right: 200px;
  }
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  color: var(--clr-accent-400);
}

.center {
  text-align: center;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.control input {
  width: calc(100% - 1rem);
  max-width: 22rem;
  font: inherit;
  padding: 0.5rem;
  background: var(--clr-button);
  border-radius: 4px;
  color: var(--clr-primary-100);
  border: 1px solid var(--clr-primary-100);
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.btn {
  cursor: pointer;
  background: var(--clr-primary-900);
  color: var(--clr-primary-100);
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-family: var(--ff-secondary);
  border: 1px solid black;
  box-shadow: 4px 8px 8px hsla(0, 0%, 0%, 0.38);
}

.btn:hover,
.btn:active {
  color: var(--clr-accent-400);
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--clr-primary-100);
}

.text-button:hover,
.text-button:active {
  color: var(--clr-accent-400);
}

.modal {
  background-color: var(--clr-secondary-800);
  border-radius: 8px;
  border: solid 1px black;
  color: var(--clr-primary-100);
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  padding: 1rem;
  padding-inline: min(2rem, 3vw);
  width: clamp(20rem, 80vw, 35rem);
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
